{% if _user %}
    Hello, {{  _user.login }}
    <a style="float: right" href="/account/logout">logout</a><br/>
{% else %}
    <a style="float: right" href="/account/login">login</a><br/>
{% endif %}

<hr/>